.wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1200px;
}

.link {
  text-decoration: underline;
}

.hide {
  display: none;
}

.list-unstyled {
  padding: 0px;
  margin: 0px auto;
  list-style-type: none;
}

.list-inline {
  padding: 0px;
  font-size: 0px;
  margin: 0px -6px;
  list-style-type: none;
}

.list-inline > li {
  font-size: 14px;
  padding: 0px 6px;
  display: inline-block;
  vertical-align: middle;
}

.no-scroll {
  overflow: hidden;
  max-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -12px;
  align-items: center;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.align-top {
  position: relative;
  align-items: flex-start;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 12px;
}

.col-8 {
  padding: 0 12px;
  flex: 0 0 66.66%;
  max-width: 66.66%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 12px;
}

.col-4 {
  padding: 0 12px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.col-5 {
  padding: 0 12px;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 12px;
}

.no-wrap {
  flex-wrap: nowrap;
}

.section {
  padding: 5px 0 20px;
}

.with-border {
  border-bottom: 2px solid #263271;
}

.section-title {
  font-size: 36px;
  margin: 24px 0px;
  line-height: 40px;
  font-weight: normal;
  font-family: "brandon_grotesque", "Open Sans", "Helvetica", "Arial",
    sans-serif;
}

.section-title.hasOpacity {
  opacity: 0;
}

.section-sub-title {
  font-family: "brandon_grotesque", "Open Sans", "Helvetica", "Arial",
    sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.section-title > span {
  color: #ef7a2b;
}

section .content {
  line-height: 24px;
}

section .content > p + p {
  margin-top: 24px;
}

section .content .bold {
  font-family: "montserrat_extrabold", "Open Sans", "Helvetica", "Arial",
    sans-serif;
}

section .content .bold-italics {
  font-family: "montserrat_extrabold_italic", "Open Sans", "Helvetica", "Arial",
    sans-serif;
}

section.inverted {
  color: #fff;
  background-color: #7249b2;
}

.inverted .section-title {
  color: #fff;
}

.globalSection {
  position: relative;
  padding: 32px 0px;
}

.sectionTitle {
  position: relative;
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  margin: 0px auto 32px;
  font-family: "brandon_grotesque", "Open Sans", "Helvetica", "Arial",
    sans-serif;
}

.sectionTitle + p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 64px;
}

.meetupsWrapper {
  border-top: 2px solid #263271;
}

@media (max-width: 991px) {
  .wrapper {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0px auto;
  }
  header .wrapper {
    padding: 0px 10px;
  }
}

@media (max-width: 767px) {
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-8,
  .col-9 {
    width: 100%;
    flex: initial;
    max-width: initial;
    box-sizing: border-box;
  }
  .content-image {
    max-width: 300px;
    margin: 6px auto;
  }
}
