@import "./css/reset.css";
@import "./css/header.css";
@import "./css/banner.css";
@import "./css/meetups.css";
@import "./css/layout.css";
@import "./css/footer.css";

:root {
  --theme--color: #7249b2;
  --retail_meetup--color: #263271;
  --groceryshop_meetup--color: #f05a2a;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #263271;
  padding: 112px 0px 0px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: "montserrat_medium", "Open Sans", "Helvetica", "Arial",
    sans-serif;
}

.btn {
  height: 40px;
  cursor: pointer;
  margin: 0px auto;
  padding: 0px 35px;
  border-radius: 10px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.btn-primary {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  background-color: #4b2791;
  border: 2px solid #7249b2;
  font-family: "brandon_grotesque", "Open Sans", "Helvetica", "Arial",
    sans-serif;
}

.btn-primary:focus {
  outline: none;
}

.intro {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("../images/common/gradient_bg.png"); */
}

.register {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("../images/common/register-gradient.png"); */
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 80px;
  }
}
